* {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}
p {
  margin: 1em 0.5em 1em 0.5em;
}

li {
  margin-left: 3em;
  padding: 10px;
}
code {
  display: block;
  text-align: left;
  white-space: nowrap;
  position: relative;
  word-break: normal;
  word-wrap: break-word;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
#main-doc {
  margin-left: 300px;
}
#navbar {
  width: 300px;
  height: 100%;
  background-color: #f2f2f2;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  overflow-y: hidden;
}
#navbar ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
}
#navbar li {
  border: 1px solid black;
  padding: 2em;
}
#navbar a {
  text-decoration: none;
  color: black;
}
.main-section {
  padding: 1em 3em 1em 3em;
}
header {
  font-size: 2rem;
}
